@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --primary: #3b82f6; /* blue-500 */
}

body {
  background-color: #f8fafc; /* slate-50 */
  color: #334155; /* slate-700 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
